<%- include('../partials/header') %>
<% if(flight){%>
    <h2>Flight Details of #<%= flight.flightNo %></h2>
    <div class="details">
        <div><span><b>Flight no:</b></span><span><%= flight.flightNo %></span></div>
        <div><span><b>Airline:</b></span><span><%= flight.airline %></span></div>
        <div><span><b>From:</b></span><span><%= flight.airport %></span></div>
        <div><span><b>Departure:</b></span><span><%= flight.departs %></span></div>
        <div>
            <span><b>Destinations:</b></span><span class="details">
            <div style="display: flex; margin: 0 0 20px 0;">
                <form method="post" action="/flights/<%= flight._id %>/destinations">
                    <label>Arrival:</label>
                    <input type="datetime-local" name="arrival" value="<%= departs %>">
                    <label>Destination:</label>
                    <select name="airport">
                 <% if(flight.destinations && !flight.destinations.find((el)=>el.airport==='AUS') && flight.airport !== 'AUS'){ %> <option value="AUS">AUS</option> <% } %>
                 <% if(flight.destinations && !flight.destinations.find((el)=>el.airport==='DFW') && flight.airport !== 'DFW'){ %> <option value="DFW">DFW</option> <% } %>
                 <% if(flight.destinations && !flight.destinations.find((el)=>el.airport==='SAN') && flight.airport !== 'SAN'){ %> <option value="SAN">SAN</option> <% } %>
                 <% if(flight.destinations && !flight.destinations.find((el)=>el.airport==='LAX') && flight.airport !== 'LAX'){ %> <option value="LAX">LAX</option> <% } %>
                 <% if(flight.destinations && !flight.destinations.find((el)=>el.airport==='DEN') && flight.airport !== 'DEN'){ %> <option value="DEN">DEN</option> <% } %>
                    </select>
                    <input type="submit" value="Add Destination">
                </form>
            </div>
            <% if(flight.destinations && flight.destinations.length){ %>
                <% flight.destinations.forEach(d => { %>
                <div class="destination">
                    <span><b>To:</b></span><span><%= d.airport %></span><span><b>Arrival:</b></span><span><%= d.arrival %> </span>
                </div>
                <% }); %>
        <% }else{ %>
            <% } %>
        </span>
    </div>
    <div style="margin-top: 15px;">
        <span><b>Tickets:</b></span>
        <span class="details">

            <% if(tickets && tickets.length){ %>
                <div>
                    <a href="/flights/<%= flight._id %>/tickets/new">Create a new ticket</a>
                </div>
                <%- tickets.map(ticket => 
                `<div style="display: flex; justify-content: space-between; max-width: 300px;">
                    <span><form style="display:inline-block; margin-right: 10px;" method="post" action="/flights/${flight._id}/tickets/?_method=DELETE"><input type="submit" value="X" style="color: red;"><input type="hidden" value="${ticket._id}" name="ticketId"></form><b>Seat:</b></span><span>${ticket.seat}</span>
                    <span><b>Price:</b></span><span>&#36;${ticket.price}</span>
                </div>`).join(''); %>
            <% }else{ %>
                <p>No tickets for this flight. <br> <a href="/flights/<%= flight._id %>/tickets/new">Click</a> to be the first to create ticket</p>
            <% } %>
        </span>
    </div>

    </div>
<% }else{ %>
    <%- errorMsg %>
<% } %>
<%- include('../partials/footer') %>